.button-clicked {
  background-color: #149286;
  border-top-color: #0000ff;
  border-left-color: #0000ff;
  border-right-color: #0000ff;
  border-bottom-color: #0000ff;
}
.button-release {
  background-color: #dde0e0;
}
#n1_button:hover { background-color: #4CC4A7;}
